/* -------------------------------------------------------------------------------- */
/* Ai-Stuff Styling */

#aiButtonContainer {
   display: block;
   margin-top: 10px;
   margin-bottom: 60px;
}

.aiButton {
   margin-top: 0px;
   margin-bottom: 5px;
   color: white;
   /* background-image: linear-gradient(135deg, rgba(102, 64, 186, 1), rgba(203, 63, 185, 1)); */
   background-image: linear-gradient(45deg, rgba(130, 64, 186, 1), rgba(233, 63, 185, 1));
   border: none;
}

.aiButton .buttonImage {
   filter: invert(1);
}

.aiButton:hover {
   border: none;
   color: white;
}
.aiButton:hover .buttonImage {
   filter: invert(1);
}

#shareButton,
#editButton {
   margin-top: 0px;
}

#credibilityScore {
   display: inline-block;
   padding: 20px 25px;
   background-color: rgba(20, 200, 150);
   border-radius: 20px;
   margin-bottom: 20px;
   font-family: boldest;
   margin-top: 20px;
   margin-bottom: 0px;
}

#aiFaqContainer {
   margin-top: 50px;
}

#aiFaqTitleContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 150px;
}

#aiFaqIcon1 {
   width: 60px;
   height: 60px;
   animation: magicPulse 2s infinite ease-in-out;
   animation-delay: 0ms;
   margin-right: 40px;
   opacity: 0.6;
}

#aiFaqIcon2 {
   width: 124px;
   height: 124px;
   animation: magicPulse 2s infinite ease-in-out;
   animation-delay: 300ms;
}

#aiFaqIcon3 {
   width: 60px;
   height: 60px;
   animation: magicPulse 2s infinite ease-in-out;
   animation-delay: 600ms;
   margin-left: 40px;
   opacity: 0.6;
}

@keyframes magicPulse {
   0% {
      transform: rotate(-5deg) scale(1);
   }
   50% {
      transform: rotate(5deg) scale(1.2);
   }
   100% {
      transform: rotate(-5deg) scale(1);
   }
}

.aiFaqElement {
   margin-top: 80px;
   margin-bottom: 100px;
}

.aiFaqElementEmojis {
   display: block;
   font-size: 35px;
   letter-spacing: 10px;
   margin-left: 30px;
   top: -35px;
}

.aiFaqElementQuestion {
   font-family: boldest;
   display: block;
   margin-bottom: 10px;
   font-size: 110%;
   padding: 20px 30px;
   border-radius: 20px;
   z-index: 10;
}

.aiFaqElementAnswer {
   font-family: standard;
   display: block;
   font-size: 95%;
   line-height: 120%;
   color: rgba(0, 0, 0, 0.5);
   background-color: rgba(255, 255, 255, 0.5);
   border: 1px solid rgba(255, 255, 255, 0.5);
   box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.05);
   padding: 25px 30px;
   border-radius: 20px;
   z-index: 5;
}

@media (prefers-color-scheme: dark) {
   .aiFaqElementAnswer {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid transparent;
      color: rgba(255, 255, 255, 0.6);
      box-shadow: none;
   }
}

#aiFaqButtonContainer {
   margin-top: 100px;
}

#aiFaqQuestionButton {
   display: none;
}

#aiFaqQuestionClearButton {
   display: none;
}

#credibilityWarningContainer {
   display: none;
   box-sizing: border-box;
   padding: 30px;
   border-radius: 20px;
   background-color: rgba(220, 10, 90, 0.15);
   border: 1px solid rgba(220, 10, 90, 0.1);
   margin-top: -20px;
   margin-bottom: 40px;
}

@media (prefers-color-scheme: dark) {
   #credibilityWarningContainer {
      background-color: rgba(220, 10, 90, 0.4);
      border: 1px solid rgba(220, 10, 90, 0.2);
   }
}

#credibilityWarningHeader {
   display: flex;
   align-items: center;
}

#credibilityWarningContainer img {
   width: 20px;
   height: 20px;
   margin-bottom: 20px;
   display: inline-block;
   float: left;
   margin: 0px;
   margin-right: 15px;
}

#credibilityWarningTitle {
   display: block;
   font-size: 110%;
   margin: 0px;
   font-family: boldest;
}

#credibilityWarningText {
   opacity: 0.7;
   margin: 0px;
   display: block;
   margin-top: 15px;
   font-family: standard;
}

#aiTitleButton {
   margin-top: -30px;
   margin-bottom: 20px;
}
