/* -------------------------------------------------------------------------------- */
/* Dialogs */

.dialogContainer {
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.1);
   -webkit-backdrop-filter: blur(35px);
   backdrop-filter: blur(35px);
   z-index: 5;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
   .dialogContainer {
      background-color: rgba(0, 0, 0, 0.7);
   }
}

.dialog {
   display: inline-block;
   width: fit-content;
   max-width: 800px;
   padding: clamp(20px, 7vw, 50px);
   border-radius: 30px;
   transition: 0.3s;
   background-color: rgba(255, 255, 255, 0.6);
   margin: 10px;
   max-height: 90vh;
   box-sizing: border-box;
   overflow-x: hidden;
   overflow-y: scroll;
   transform: scale(0.7);
}

@media (prefers-color-scheme: dark) {
   .dialog {
      background-color: rgba(255, 255, 255, 0.12);
   }
}

.dialogImage {
   width: 30px;
   height: 30px;
   margin-bottom: -4px;
   margin-right: 15px;
}

.dialogTitle {
   display: inline-block;
   color: var(--negativeThemeColor);
   font-size: 32px;
   font-family: boldest;
}

.dialogContentContainer {
   width: 100%;
   margin-top: 20px;
}

.dialogContentContainer t {
   opacity: 0.6;
}

.dialogContentContainer:empty {
   margin-top: 0;
}

.dialogSelectButton {
   margin-right: 10px;
   margin-bottom: 0px;
   margin-top: 30px;
   z-index: 5;
}

.dialogSelectButton::before {
   content: "";
   display: inline-block;
   width: 14px;
   height: 14px;
   margin-top: -5px;
   margin-left: -5px;
   margin-right: 13px;
   background-image: url("/assets/images/tick.png");
   background-size: contain;
   background-repeat: no-repeat;
   vertical-align: middle;
   filter: invert(1);
}

.dialogCloseButton {
   padding: 20px;
   border-radius: 50px;
   background-color: rgba(255, 255, 255, 0.8);
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(15px);
   margin-bottom: -35px;
   z-index: 5;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
   transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
   .dialogCloseButton {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: none;
   }
}

.dialogCloseButtonImage {
   width: 20px;
   height: 20px;
   opacity: 0.3;
   transition: 0.3s;
   filter: invert(var(--invertValue));
}

@media (pointer: fine) {
   .dialogCloseButton:hover {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
      transform: translateY(-4px) scale(1.1);
   }
   .dialogCloseButton:hover ~ .dialog {
      opacity: 0.5;
      scale: 0.98;
   }
   .dialogCloseButton:hover .dialogCloseButtonImage {
      opacity: 1;
   }
   @media (prefers-color-scheme: dark) {
      .dialogCloseButton:hover .dialogCloseButtonImage {
         filter: invert(var(--negativeInvertValue));
      }
   }
}

.dialog .input {
   background-color: rgba(255, 255, 255, 0.5);
   display: block;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 20px;
   box-sizing: border-box;
   border-radius: 15px;
   border: none;
   outline: none;
}

@media (prefers-color-scheme: dark) {
   .dialog .input {
      background-color: rgba(255, 255, 255, 0.1);
   }
}
